{{#each data}}
<article>
	<h2>
		{{this.housingType}}: {{this.building}} for ${{this.price}} per month
	</h2>
	Furnished? {{this.furnished}}
	<div>	
	Features:
	<ul>
		{{#each this.features}}
			<li>{{this}}</li>
		{{/each}}
	<ul>
	</div>
	Contact at: {{this.contact}} 
</article>
{{else}}

<article>
    <h1>There are no listings. :(</h1>
    <a href="/listHousing">Make a listing</a>
</article>
{{/each}}
